@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

.personal_label {
    font-family: 'Righteous', cursive;
    color: black;
}

.player_label {
    font-family: 'Righteous', cursive;
    color: black;
    text-align: center;
}

.remove {
    color:#fff;
    background-color:#dc3545;
    border-color:#dc3545;
}